{{#each this}}
  <a href="{{largeImageURL}}">
    <img src="{{webformatURL}}" alt="{{tags}}" width="100" loading="lazy" />
    <p>Tags: {{tags}}</p>
    <p>Likes: {{likes}}</p>
    <p>Views: {{views}}</p>
    <p>Comments: {{comments}}</p>
    <p>Downloads: {{downloads}}</p>
  </a>
{{/each}}